.create-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    letter-spacing: 10px;
    font-size: 35px;
    padding: 5px 100px;
    background-image: linear-gradient(to left, #00000000, #202020);
    position: sticky;
    top: 0;
    z-index: 6;
}


.create-recipe form {
    padding: 50px 70px;
    padding-right: 100px;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgba(240, 248, 255, 0.125) 50%, rgba(255, 255, 255, 0));
    margin-bottom: 100px;
}

.create-recipe label {
    color: white;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
}

.create-recipe form input,
.create-recipe form textarea {
    color: #083477c8;
    font-size: 15px;
    padding: 5px 10px;
    margin: 0px 0 10px 0;
    font-weight: 500;
}

.create-recipe form input::placeholder,
.create-recipe form textarea::placeholder {
    font-weight: 800;
    color: #083477a9;
}

.create-recipe form {
    text-align: center;
}

.create-recipe form button {
    cursor: pointer;
    padding: 5px;
    border: 1px solid white;
    background-color: rgb(97, 142, 181);
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

#line {
    width: 100%;
    margin: 10px 0;
}